{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
  <div class="row justify-content-center">
    <div class="col-sm-10 col-md-6 col-lg-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title mb-3">Iniciar sesión</h5>
          <form method="post">
            {% csrf_token %}
            <div class="mb-3">
              <label class="form-label">{{ form.correo.label }}</label>
              {{ form.correo }}
            </div>
            <div class="mb-3">
              <label class="form-label">{{ form.password.label }}</label>
              {{ form.password }}
            </div>
            <button type="submit" class="btn btn-primary w-100">Entrar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
 </div>
{% endblock %}

